node_modules
frontend/dist
/build/*
!/build/appicon.png
!/build/linux/
!/build/windows/
/build/windows/installer/tmp/
/build/windows/installer/wails_tools.nsh
/private/
*.db
*.db-wal
*.db-shm
*.md5
frontend/package.json.md5
frontend/wailsjs/runtime/
frontend/wailsjs/go/
